@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body{
 background-color:hsl(30, 54%, 90%);
}
main{
    font-size: 16px;
    background-color: hsl(330, 100%, 98%);
    padding: 40px;
     border-radius: 15px;
     width: min-content;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 620px;
}
ul{
    color: hsl(332, 51%, 32%);
}
.ul_marrom, ol, li {
    color: hsl(14, 45%, 36%);
}
p{
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
}
h1{
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
}
h3{
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
}
h4{
    color: hsl(332, 51%, 32%);
    font-family: "Young Serif", serif;
}
tbody{
    display: flex;
}
tr{
    display: flex;
    flex-direction: column;
}
th{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    width: 300px;
    text-align: left;
    padding: 4px;
    color: hsl(30, 10%, 34%);
}
td{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    width: 300px;
    text-align: left;
    padding: 4px;
    color: hsl(2, 45%, 36%);
}
th:hover{
    border-left: 1px solid hsl(36, 2%, 59%);
    border-bottom: 1px solid hsl(36, 2%, 59%);
    border-top: 1px solid hsl(36, 2%, 59%);
}
td:hover{
    border-bottom:  1px solid hsl(36, 2%, 59%);
    border-top:  1px solid hsl(36, 2%, 59%);
    border-right:  1px solid hsl(36, 2%, 59%);
}
